@model IEnumerable<Kidshop.Areas.Admin.Models.DataModel.Product>

<p>
    @Html.ActionLink("Thêm sản phẩm", "Create", "Product", new { }, new { @class = "btn btn-primary" })
</p>

<div class="x_panel">
    <div class="x_title">
        <h2>Danh sách sản phẩm</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th>
                            <input type="checkbox" id="check-all" class="flat">
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="column-title no-link last">
                            <span class="nobr">Hành động</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">@item.ProductName</td>
                            <td class=" ">@item.Category.CategoryName</td>
                            <td class=" ">@item.Price</td>
                            <td class=" ">@item.Qty</td>
                            <td class=" "><img src="~/Areas/Admin/Content/Images/Product/@item.Image" name="CurrentImage" class="img-rounded" width="50px" /></td>
                            <td class=" ">@Html.CheckBox("name", item.Status, new { @class = "flat", disabled = "" })</td>
                            <td class=" last">
                                @Html.ActionLink("Sửa |", "Edit", new { id = item.ProductId })
                                @Html.ActionLink("Xóa", "Delete", new { id = item.ProductId }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa?')" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>