@model IEnumerable<Kidshop.Areas.Admin.Models.DataModel.Product>

<p>
    <a href="/Admin/Product/Create" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span> Thêm sản phẩm</a>
    <a href="#" class="btn btn-info btn-sm"><span class="fa fa-barcode"></span> In mã sản phẩm</a>
</p>

<div class="x_panel">
    <div class="x_title">
        <h2>Danh sách sản phẩm</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th>
                            <input type="checkbox" id="check-all" class="flat">
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="column-title no-link last">
                            <span class="nobr">Hành động</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd pointer" id="product_@item.ProductId">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">@item.ProductName</td>
                            <td class=" ">@item.Category.CategoryName</td>
                            <td class=" ">@item.Price</td>
                            <td class=" ">@item.Qty</td>
                            <td class=" "><img src="~/Areas/Admin/Content/Images/Product/@item.Image" id="Image" class="img-rounded" width="35px" /></td>
                            <td class=" ">@Html.CheckBox("name", item.Status, new { @class = "flat", disabled = "" })</td>
                            <td class=" last">
                                <a class="btn btn-primary btn-xs"  href="/Admin/Product/Edit/@item.ProductId"><i class="fa fa-edit"></i> Sửa</a>
                                @*@Html.ActionLink("Sửa ", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary btn-xs" })*@
                                <a class="btn btn-danger btn-xs" onclick="DeleteConfirm(@item.ProductId)"><i class="fa fa-trash"></i> Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function DeleteConfirm(id) {
        $.confirm({
            title: 'Xác nhận xóa!',
            content: 'Bạn có chắc chắn muốn xóa?',
            buttons: {
                OK: {
                    text: 'Xóa',
                    btnClass: 'btn-red',
                    keys: ['enter', 'shift'],
                    action: function () {
                        $.ajax({ url: "/Product/Delete/" + id, method: "POST", success: $("#product_" + id).remove() });
                    }
                },
                cancel: {
                    text: 'Hủy',
                    keys: ['esc']
                }
            }
        });
    }
</script>
