@model List<KidShop.Areas.Admin.Models.DataModel.Category>
<section class="sk-home-main-block sk-tab-product">
    <div class="main-block-title pink-title">
        <h2>
            Hàng mới về !
        </h2>
        <ul class="nav-pills sk-tab-nav">
            @for (int i = 1; i <= Model.Count(); i++)
            {
                if (i == 1)
                {
                    <li class="active"><a href="#1" data-toggle="tab">@Model[0].CategoryName</a></li>
                }
                else
                {
                    <li><i class="fa fa-pagelines" aria-hidden="true"></i></li>
                    <li><a href="#@i" data-toggle="tab">@Model[i-1].CategoryName</a></li>
                }
            }
        </ul>
        <div class="clearfix"></div>
    </div>
    <div id="exTab3" class="sk-tab-product sk-block-with-border-triangle">
        <div class="tab-content clearfix">
            @for (int i = 1; i <= ViewBag.listProduct.Count; i++)
            {
                if (i == 1)
                {
                    <div class="tab-pane active" id="1">
                        @foreach (var item in ViewBag.listProduct[0])
                        {
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="discounts-product-right">
                                    @if (item.Sale > 0)
                                    {
                                        <div class="sale-box text-center">
                                            <span class="price">
                                                @{int sale = (int)((item.Price - item.Sale) / item.Price * 100);}
                                                -@sale%
                                            </span>
                                        </div>

                                        <div class="discounts-product-image">
                                            <a href="@Url.Action("Details", "Product", new { id = item.ProductId })">
                                                <img src="~/Areas/Admin/Content/Images/Product/@item.Image" alt=@item.ProductName class="img-responsive">
                                            </a>

                                            <div class="price-box">
                                                @if (item.Qty <= 0)
                                                {
                                                    <span class="price">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="price">
                                                        @item.Sale₫
                                                    </span>
                                                    <span class="price-compare">
                                                        @item.Price₫
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="discounts-product-image">
                                            <a href="@Url.Action("Details", "Product", new { id = item.ProductId })">
                                                <img src="~/Areas/Admin/Content/Images/ProductImages/@item.Image" alt=@item.ProductName class="img-responsive">
                                            </a>

                                            <div class="price-box">
                                                @if (item.Qty <= 0)
                                                {
                                                    <span class="price">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="price">
                                                        @item.Price₫
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }

                                    <div class="discounts-product-info">
                                        <h3 class="item-title">
                                            <a href="@Url.Action("Details", "Product", new { id = item.ProductId })" title="@item.ProductName">@item.ProductName</a>
                                        </h3>
                                    </div>

                                    <div class="text-center">
                                        @if (item.Qty <= 0)
                                        {
                                            <button disabled="disabled" class="button btn-cart btn-buy product-atc" title="Cho vào giỏ hàng"><span>Hết hàng</span></button>
                                        }
                                        else
                                        {
                                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href='@Url.Action("Details", "Product", new { id = item.ProductId })'"><span><img src="~/Images/btn-buy.png" alt=""></span></button>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="tab-pane" id="@i">
                        @foreach (var item in ViewBag.listProduct[i-1])
                        {
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="discounts-product-right">
                                    @if (item.Sale > 0)
                                    {
                                        <div class="sale-box text-center">
                                            <span class="price">
                                                @{int sale = (int)((item.Price - item.Sale) / item.Price * 100);}
                                                -@sale%
                                            </span>
                                        </div>

                                        <div class="discounts-product-image">
                                            <a href="@Url.Action("Details", "Product", new { id = item.ProductId })">
                                                <img src="~/Areas/Admin/Content/Images/Product/@item.Image" alt=@item.ProductName class="img-responsive">
                                            </a>

                                            <div class="price-box">
                                                @if (item.Qty <= 0)
                                                {
                                                    <span class="price">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="price">
                                                        @item.Sale₫
                                                    </span>
                                                    <span class="price-compare">
                                                        @item.Price₫
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="discounts-product-image">
                                            <a href="@Url.Action("Details", "Product", new { id = item.ProductId })">
                                                <img src="~/Areas/Admin/Content/Images/Product/@item.Image" alt=@item.ProductName class="img-responsive">
                                            </a>

                                            <div class="price-box">
                                                @if (item.Qty <= 0)
                                                {
                                                    <span class="price">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="price">
                                                        @item.Price₫
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }

                                    <div class="discounts-product-info">
                                        <h3 class="item-title">
                                            <a href="@Url.Action("Details", "Product", new { id = item.ProductId })" title="@item.ProductName">@item.ProductName</a>
                                        </h3>
                                    </div>

                                    <div class="text-center">
                                        @if (item.Qty <= 0)
                                        {
                                            <button disabled="disabled" class="button btn-cart btn-buy product-atc" title="Cho vào giỏ hàng"><span>Hết hàng</span></button>
                                        }
                                        else
                                        {
                                            <button class="button btn-cart btn-more product-atc" title="Mua hàng" type="button" onclick="window.location.href='@Url.Action("Details", "Product", new { id = item.ProductId })'"><span><img src="~/Images/btn-buy.png" alt=""></span></button>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</section>

